@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

body, html {
    background-color: hsl(204, 43%, 93%);
    margin: 3em;
    font-family: 'Karla', sans-serif;
}

div.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top {
    background-color: white;
    width: 19.4375em;
    height: 16.6875em;
    border-radius: .5em .5em 0 0;

    h3 {
        padding: .5em .8em 0 1.2em;
        color: hsl(179, 62%, 43%);
        font-size: 1.3em;
    }

    h4 {
        padding: 0 .8em 0 1.5em;
        color: hsl(71, 73%, 54%);
    }

    p {
        color: hsl(218, 22%, 67%);
        font-size: .9em;
        padding: 0 .8em 0 1.5em;
        line-height: 1.8em;
    }
}

.left {
    background-color: hsl(179, 62%, 43%);
    width: 19.4375em;
    height: 14.25em;
    display: flex;
    flex-direction: column;

    h3 {
        padding-left: 1em;
        font-size: 1.3em;
        color: white;
        margin-bottom: .7em;
    }

    span {
        color: white;
        font-weight: 700;
        font-size: 2em;
        padding-left: .7em;
        margin: 0;
    }

    small {
        font-size: .4em;
        color: rgba(255, 255, 255, 0.425);
        font-weight: 400;
    }

    p {
        color: white;
        padding-left: 1.6em;
        margin-top: .5em;
    }

    button {
        background-color: hsl(71, 73%, 54%);
        border: none;
        color: white;
        font-family: 'Karla', sans-serif;
        width: 80%;
        height: 20%;
        align-self: center;
        border-radius: .4em;
        font-size: 1em;
        font-weight: 700;
        margin-top: 1em;
        box-shadow: 0 10px 20px -1px hsla(0, 0%, 0%, 0.16);

    }
}

.right {
    background-color: hsla(179, 62%, 43%, 0.753);
    width: 19.4375em;
    height: 14.25em;
    border-radius: 0 0 .5em .5em;

    h3 {
        color: white;
        padding-left: 1.2em;
    }

    ul {
        color: rgba(255, 255, 255, 0.74);
        list-style: none;
        font-size: .9em;
        line-height: 1.5em;
        padding-left: 1.5em;
    }
}

@media (min-width: 1024px) {
    div.container {
        display: grid;
        grid-template-columns: 19.84375em;
        grid-template-rows: auto;
        grid-template-areas: 
        'top top'
        'left right';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .top {
        grid-area: top;
        width: 39.6875em;
        height: 13.5em;

        h3 {
            padding-left: 1.4em;
        }

        h4 {
            padding-left: 1.8em;
        }

        p {
            padding-left: 1.8em;
        }
    }
    
    .left {
        grid-area: left;
        width: 19.84375em;
        height: 16.1875em;
        border-radius: 0 0 0 .5em;


        h3 {
            padding: .5em 0 0 1.5em;
        }

        span {
            padding-left: .9em;
        }

        p {
            padding-left: 1.8em;
        }
    }
    
    .right {
        grid-area: right;
        width: 19.84375em;
        height: 16.1875em;
        border-radius: 0 0 .5em 0;

        h3 {
            padding: 1em 0 0 1.5em;
        }

        ul {
            padding-left: 2em;
        }
    }
}
